* {
  margin: 0;
}
:root {
  --background: #eee;
  --textColor: red;
  --btn: green;
}
h1,
strong,
bold {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  height: 60px;
  background-color: #333;
  color: #fff;
  padding: 0 30px;
  display: flex;
}
header h2 {
  padding: 15px 0;
  font-family: "Quicksand", sans-serif;
}
header ul {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}
header ul > li {
  padding: 20px 15px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
footer {
  width: auto;
  height: 120px;
  padding: 20px 30px;
  background-color: #333;
  color: #fff;
}
footer ul {
  font-weight: 500;
  text-align: center;
  list-style-type: none;
}
footer ul > li {
  font-weight: 600;
  padding: 10px 0;
  font-family: "Quicksand", sans-serif;
}
